.loading {
    background: rgba(255, 255, 255, .15) url("../img/loader.gif") no-repeat 50% 50%;
    -webkit-transition: background-color 10ms linear;
    transition: background-color 10ms linear;
    z-index: 50000000;
    top: 0;
}
