.loading {
    background: rgba(255, 255, 255, .15) url("../img/loader.gif") no-repeat 50% 50%;
    -webkit-transition: background-color 10ms linear;
    transition: background-color 10ms linear;
    z-index: 50000000;
    top: 0;
}

.btn.btn-primary {
    background: #FE980F;
    border-color: #E48300;
    border-radius: 0;
    margin-top: 16px;
}

.list-options {
    margin-right: 5px;
}
