<div class="header-middle" data-ng-controller="HeaderController"><!--header-middle-->
	<div class="container">
		<div class="row">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/#!/" class="navbar-brand">BS-Commerce-Lightweight</a>
				<!--<a href="/#!/"><img class="img-responsive" src="themes/lightweight/assets/img/bs-commerce-logo.png" data-ng-show="!isCollapsed"></a>-->
			</div>
			<div class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
				<div class="shop-menu pull-right">
					<ul class="nav navbar-nav">
						<!--<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>-->
						<li uib-dropdown>
							<a href id="mini-cart-view" uib-dropdown-toggle><i class="fa fa-shopping-cart"></i> Cart</a>
							<ul class="dropdown-menu dropdown-menu-right animated fadeIn" uib-dropdown-menu role="menu" aria-labelledby="mini-cart-view">
								<li class="mini-cart-li">
									<div class="row mini-cart-container">
										<div class="mini-cart-body">
											<div class="pull-right mini-cart-header-text ng-binding">There are total  item(s) in your cart</div>
										</div>
										<hr>
										<!-- ngRepeat: item in items -->

										<div class="mini-cart-footer">
											<div class="mini-cart-footer-text pull-left ng-binding">
												sub total: 0
											</div>
											<a class="pull-right" data-ui-sref="cart" href="#!/cart">Go TO CART</a>
										</div>
									</div>
								</li>
							</ul>
						</li>

					</ul>
					<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
						<li ui-route="/signup" ng-class="{active: $uiRoute}">
							<a href="/#!/signup">Sign Up</a>
						</li>
						<li class="divider-vertical"></li>
						<li ui-route="/signin" ng-class="{active: $uiRoute}">
							<a href="/#!/signin">Sign In</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/#!/settings/profile">Edit Profile</a>
								</li>
								<li>
									<a href="/#!/settings/accounts">Manage Social Accounts</a>
								</li>
								<li data-ng-show="authentication.user.provider === 'local'">
									<a href="/#!/settings/password">Change Password</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="/auth/signout">Signout</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
